<div class="page-header">
    <h2>Edit Product Details</h2>
</div>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">
            [{{ctrl.product.id}}] {{ctrl.product.name}}
        </div>
        <div class="panel-body">
            <form name="editProductForm" ng-submit="editProductForm.$valid && ctrl.saveEdit()" novalidate>
                <div class="form-group">
                    <label>UPC</label>
                    <input class="form-control" type="text" ng-model="ctrl.product.upc12" disabled>
                </div>
                <div class="form-group">
                    <label>Brand</label>
                    <input name="brand" class="form-control" minlength="2" type="text" ng-model="ctrl.product.brand" required>
                    <div data-ng-show="editProductForm.brand.$touched || editProductForm.$submitted">
                        <div class="validation" data-ng-show="editProductForm.brand.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Brand is required.
                        </div>
                        <div class="validation" data-ng-show="editProductForm.brand.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Brand must be at least 2 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input name="name" class="form-control" minlength="2" type="text" ng-model="ctrl.product.name" required>
                    <div data-ng-show="editProductForm.name.$touched || editProductForm.$submitted">
                        <div class="validation" data-ng-show="editProductForm.name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Name is required.
                        </div>
                        <div class="validation" data-ng-show="editProductForm.name.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Name must be at least 2 characters long.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            Current product image: <img src="/products/image/{{ctrl.product.upc12}}" alt="{{ctrl.product.upc12}}"
                                height="100">
                        </div>
                        <div class="col-sm-8">
                            <!-- Select file to upload. Single file only. Accepts only images-->
                            <input type="file" ng-model="ctrl.file" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                            <!-- Thumbnail preview of image to upload. -->
                            Replacement image: <img ngf-thumbnail="ctrl.file" height="100">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Save" ng-disabled="!editProductForm.$valid || ctrl.showMessage">
                    <button type="button" class="btn btn-default" ng-click="ctrl.cancelEdit()">Cancel</button>

                </div>
                <div class="form-group text-right">
                    <button type="button" class="btn btn-danger" ng-click="ctrl.deleteProduct()" ng-disabled="!ctrl.enableDelete || ctrl.showMessage">Delete</button>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="ctrl.enableDelete"><small>Check to enable</small> </label>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<div ng-show="ctrl.showMessage">
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{ ctrl.message }}
    </div>
</div>